
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #cc3300;
}

p, ul {
  text-align: justify;
}



.footnotes {
  font-size: small;
  margin-top: 20px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #828282;
}

.footnotes ol {
  padding-top: 20px;
}

.figurelegende {
  text-align: center;
  color: #666666;
}

.divencadree {
  style: margin-bottom:10px;
  border: 1px solid #d9d9d9;
  text-align: center;
}

/* Tableau Methologie - voir slides Reveal.js */

table{width: 100%; margin-bottom: 3rem;}
.tg8  {border-collapse:collapse;border-spacing:0;border:none;}
.tg8 td{font-size:1em; padding:10px 5px;  border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg8 th{font-size:1em;font-weight:normal;padding:10px 5px;border-style:none;border-width:0px;overflow:hidden;word-break:normal;}
.tg8 .tg-6l08{text-align:center;vertical-align:top;border-bottom:none;}
.tg8 .tg-6l09{text-align:center;vertical-align:top;border-left:solid;border-right:solid;border-bottom:none;}
